@model IEnumerable<SmartLibraryWeb.ViewModel.ElectronicFileViewModel>

@{
    ViewBag.Title = "GetElectronicFiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="EfileDiv">
    <h2 id="EHeading">@ViewData["EHeading"]</h2>
    @foreach (var item in Model)
    {
   @Html.ActionLink(item.FileName, "DownloadFile", new { fileName = item.FileName }, new { @class = "electronicFileDiv" })
    }
</div>