@model IEnumerable<SmartLibraryWeb.ViewModel.ReservationViewModel>

@{
    ViewBag.Title = "ReservationReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color: black;margin: 10px;padding: 24px;border-radius: 25px;" >
    <h2>Reservation Report</h2>


    <table class="table">
        <tr>
            <th>
                Book Title
            </th>
            <th>
                Reservation Date
            </th>
            <th>
                Reservation End Date
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservedCopy.Book.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDateTime)
                </td>

            </tr>
        }

    </table>
</div>
